.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1rem;
  z-index: 1000;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: justify;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footerContent p,
.footerContent a {
  flex: 1;
  min-width: 150px;
  margin: 5px 10px;
  color: black;
  text-decoration: none;
}

.footerContent a:hover {
  text-decoration: underline;
}
