/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* LOGO IN THE CENTER */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: auto;
  z-index: 999;
}

.logo img {
  height: 80px;
  width: auto;
  object-fit: contain;
}

/* NAVIGATION ON THE RIGHT */
.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  font-weight: bold;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 5px;
  cursor: pointer;
}

.nav ul li a:hover {
  color: black;
  background-color: #dcdcdc; /* ✅ svetlo siva hover boja */
}

/* ✅ Razmak između Projects i About */
.nav ul li.about {
  margin-left: 25px;
}

/* DROPDOWN MENU */
.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;

  list-style: none;
  z-index: 1000;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  min-width: 10px;
  text-align: left;
}

.dropdown:hover .dropdownMenu {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.dropdownMenu li {
  white-space: nowrap;
}

.dropdownMenu li a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  padding: 10px 15px;
}

.dropdownMenu li a:hover {
  background: #dcdcdc;
  color: black;
}

/* MOBILE STYLES */
.menuToggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
  padding: 5px 15px;
}

@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 999;
    max-width: 300px;
  }

  .nav.open {
    display: flex;
    position: fixed;
    top: 60px;
    right: 10px;
    left: auto;
  }

  .nav ul {
    flex-direction: column;
    gap: 0;
  }

  .nav ul li,
  .dropdownMenu li {
    width: 100%;
  }

  .nav ul li a,
  .dropdownMenu li a {
    display: block;
    width: 100%;
  }

  .dropdownMenu {
    position: static;
    border: none;
    padding: 0;
    opacity: 1;
    visibility: visible;
    background: none;
    width: 100%;
  }

  .dropdownMenu li a {
    background: none;
  }

  .logo img {
    height: 105px;
  }
}
